@import url('https://fonts.googleapis.com/css?family=Aldrich|Quantico');

$color-bg = #212431
$color-btn-equal = #ef6d53
$color-btn-extra = #75aaae
$color-btn-num = #7fb069
$color-btn-op = #6a5d7b
$color-jumbo = #eef1e7
$color-footer = #eef1e7
$color-font-btn = #fff
$color-font-footer = #000

$font-button = 'Aldrich', sans-serif
$font-display = 'Quantico', sans-serif

html {
    min-height: 100%
    position: relative
}

body {
    background-color: $color-bg
    margin-bottom: 70px
}

.title {
    color: $color-font-btn
    font-family: $font-display
    font-size: 70px
    text-align: center
    text-shadow: 5px 5px #000, 5px 5px #111
}

.calc {

    background-color: $color-jumbo
    box-shadow: 10px 10px #000
    margin-top: 30px
    margin-bottom: 20px

    .calc__display {
        background-color: darken($color-jumbo, 10%)
        border: 1px solid darken($color-jumbo, 40%)
        border-radius: 10px
        font-family: $font-display
        margin-bottom: 20px
    }

    .calc__input {
        font-size: 55px
        margin: 0 10px 0 0
        text-align: right
    }

    .calc__query {
        font-size: 22px
        margin: -15px 15px 0 0
        text-align: right
    }

    .calc__row {
        div {
            margin-bottom: 10px
            text-align: center
        }
    }

    .calc__btn {
        color: $color-font-btn
        font-size: 20px
        font-family: $font-button
        height: 50px
        width: 23%
    }

    .btn_equal {
        background-color: $color-btn-equal
        width: 65%
    }
    .btn_extra {
        background-color: $color-btn-extra
    }
    .btn_num {
        background-color: $color-btn-num
    }
    .btn_op {
        background-color: $color-btn-op
    }
    .btn_zero {
        background-color: $color-btn-num
        width: 30%
    }

}

.container .jumbotron {
    padding: 30px 30px
}

@media screen and (max-width: 480px) {
    
    .title {
        font-size: 50px
    }

}

// FOOTER Section ----------/
.footer {
    background-color: $color-footer
    bottom: 0
    width: 100%
    position: absolute

    .footer__text {
        color: $color-font-footer
        margin: 0 auto
        padding: 15px 15px
        text-align: center
    }
}