@import url('https://fonts.googleapis.com/css?family=Aldrich|Quantico');

$color-bg = #000
$color-footer = #fff
$color-btn = #00aaff
$color-btn-num = #00aaff
$color-btn-op = #f9a600

$font-button = 'Aldrich', sans-serif
$font-display = 'Quantico', sans-serif

body {
    background-color: $color-bg
}

.title {
    color: #fff
    font-family: $font-display
    font-size: 70px
    text-align: center
}

.calc {

    .calc__display {
        border: 1px solid #000
        border-radius: 10px
        font-family: $font-display
        margin-bottom: 20px
    }

    .calc__input {
        font-size: 55px
        margin: 0 10px 0 0
        text-align: right
    }

    .calc__query {
        font-size: 22px
        margin: -15px 15px 0 0
        text-align: right
    }

    .calc__row {
        div {
            margin-bottom: 10px
            text-align: center
        }
    }

    .calc__btn {
        color: #fff
        font-size: 20px
        font-family: $font-button
        height: 50px
        width: 23%
    }

    .btn_num {
        background-color: $color-btn-num
    }
    .btn_op {
        background-color: $color-btn-op
    }

}

@media screen and (max-width: 480px) {
    
    .title {
        font-size: 50px
    }
    
    .container .jumbotron {
        padding: 30px 30px
    }
}

// FOOTER Section ----------/
.footer {
    background-color: $color-footer
    bottom: 0
    width: 100%
    position: absolute

    .footer__text {
        color: $color-font
        margin: 0 auto
        padding: 15px 15px
        text-align: center
    }
}