@import url("https://fonts.googleapis.com/css?family=Aldrich|Quantico");
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #212431;
  margin-bottom: 70px;
}
.title {
  color: #fff;
  font-family: 'Quantico', sans-serif;
  font-size: 70px;
  text-align: center;
  text-shadow: 5px 5px #000, 5px 5px #111;
}
.calc {
  background-color: #eef1e7;
  box-shadow: 10px 10px #000;
  margin-top: 30px;
  margin-bottom: 20px;
}
.calc .calc__display {
  background-color: #d9e0c9;
  border: 1px solid #9aab70;
  border-radius: 10px;
  font-family: 'Quantico', sans-serif;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.calc .calc__input {
  font-size: 55px;
  margin: 0 10px 0 0;
  text-align: right;
}
.calc .calc__query {
  font-size: 22px;
  margin: -15px 15px 0 0;
  text-align: right;
}
.calc .calc__row div {
  margin-bottom: 10px;
  text-align: center;
}
.calc .calc__btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 20px;
  font-family: 'Aldrich', sans-serif;
  height: 50px;
  width: 23%;
}
.calc .btn_equal {
  background-color: #ef6d53;
  outline: none;
  box-shadow: 0 1px 3px #761d0b;
  width: 65%;
}
.calc .btn_equal:hover {
  background-color: #f28a75;
}
.calc .btn_equal:active {
  box-shadow: 0 1px 3px #ef6a50;
  height: 49px;
}
.calc .btn_equal:active,
.calc .btn_equal:focus {
  border: none;
  outline: none;
}
.calc .btn_extra {
  background-color: #75aaae;
  outline: none;
  box-shadow: 0 1px 3px #2b4749;
}
.calc .btn_extra:hover {
  background-color: #91bbbe;
}
.calc .btn_extra:active {
  box-shadow: 0 1px 3px #73a9ad;
  height: 49px;
}
.calc .btn_extra:active,
.calc .btn_extra:focus {
  border: none;
  outline: none;
}
.calc .btn_num {
  background-color: #7fb069;
  outline: none;
  box-shadow: 0 1px 3px #324a27;
}
.calc .btn_num:hover {
  background-color: #99c087;
}
.calc .btn_num:active {
  box-shadow: 0 1px 3px #7daf67;
  height: 49px;
}
.calc .btn_num:active,
.calc .btn_num:focus {
  border: none;
  outline: none;
}
.calc .btn_op {
  background-color: #6a5d7b;
  outline: none;
  box-shadow: 0 1px 3px #2a2531;
}
.calc .btn_op:hover {
  background-color: #87799a;
}
.calc .btn_op:active {
  box-shadow: 0 1px 3px #695c7a;
  height: 49px;
}
.calc .btn_op:active,
.calc .btn_op:focus {
  border: none;
  outline: none;
}
.calc .btn_zero {
  background-color: #7fb069;
  outline: none;
  box-shadow: 0 1px 3px #324a27;
  width: 30%;
}
.calc .btn_zero:hover {
  background-color: #99c087;
}
.calc .btn_zero:active {
  box-shadow: 0 1px 3px #7daf67;
  height: 49px;
}
.calc .btn_zero:active,
.calc .btn_zero:focus {
  border: none;
  outline: none;
}
.container .jumbotron {
  padding: 30px 30px;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 50px;
  }
}
.footer {
  background-color: #eef1e7;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.footer .footer__text {
  color: #000;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: center;
}
